@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


:root {
    --color-primary: #0D3E8D;     
    --color-secondary-bg: #D9E6F2; 
    --color-page-bg: #effcfd;     
    --color-white: #FFFFFF;        

  --color-success-bg: #9AE68D;     
  --color-success-text: #14532D;   
  }

 body {
  background-color: var(--color-page-bg);
}

/* Utility: hide scrollbar while keeping scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome/Safari/Opera */
}