@import "tailwindcss";

:root {
  --color-primary: #0d3e8d;
  --color-secondary-bg: #d9e6f2;
  --color-page-bg: #effcfd;
  --color-white: #ffffff;
  --color-pending: #b45309;
  --color-pending-bg: #fef3c7;
  --color-success-bg: #9ae68d;
  --color-success-text: #14532d;
}

html,
body {
  background-color: var(--color-page-bg);
}

/* Utility: hide scrollbar while keeping scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}
